html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Global layout stuff */

body {
  background: #eee;
  color: #244751;
  font-family: 'Raleway', sans-serif;
  position: relative;
}
.container {
  background-color: white;
  position: relative;
  top: 80px;
  padding: 0 0 100px 0;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
